.conteudo{
   margin-top: 2% ;
   margin-left: 30%;
}

table#sql tr:nth-child(even) {
  background-color: #eee;
}
table#sql tr:nth-child(odd) {
 background-color: #fff;
}
table#sql th {
  background-color: rgb(230, 230, 230);
}
table#nj td, table#nj th{
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
table#nj th {
  background-color: rgb(230, 230, 230);
  text-align: center;
}

table#link tr, table#link th  {
   border: 1px solid black;
}

table#link th {
   background-color: rgb(82, 81, 81);
   color: white;
 }

.centerText{
   text-align: center;
}

.center{
   margin-left: 15%;
}

.center2{
   margin-left: 10%;
}

.center3{
   margin-left: 1%;
}

.font1{
   font-size: 20px;
}

.font2{
   font-size: 30px;
}

.font3{
   font-size: 40px;
}

.key {
   background-color: #EBEBE4;
}